<%= form_for @animal do |f| %>
	<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
	</p>
	<p>
	<%= f.label :species %>
	<%= f.text_field :species %>
	</p>
	<p>
	<%= f.label :breed %>
	<%= f.text_field :breed %>
	</p>
	<p>
<!-- 	<%= f.label :arrival_time %>
	<%= f.text_field :arrival_time %>
	</p>
	<p>
	<%= f.label :departure_time %>
	<%= f.text_field :departure_time %>
	</p> -->
	<p>
	<%= f.label :sex %>
	<%= f.text_field :sex %>
	</p>
	<p>
	<%= f.label :age %>
	<%= f.text_field :age %>
	</p>
	<%= f.submit %>
<% end %>

<%= link_to 'Back', animals_path %>